[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cffi = "==1.15.1"
pycparser = "==2.21"
pygame = "==2.1.3"
pymunk = "==6.0.0"

[dev-packages]

[requires]
python_version = "3.10"
